---
import '../styles/global.css';
import AdviceGenerator from '../components/AdviceGenerator';

let title = 'Frontend Mentor | Advice generator app';
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
  
  <title>{title}</title>
</head>
<body>
  <AdviceGenerator client:load />
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://twitter.com/difool0x">@difool0x</a>.
  </div>
</body>
</html>